.page-container {
  display: flex;
  flex: 3;
  overflow-y: scroll;
  justify-content: space-evenly;
}

/* .feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  width: 70%;
} */

.feed-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feed-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.feed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.feed-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed-header .username {
  font-weight: bold;
}

.feed-content {
  margin-bottom: 10px;
}

.feed-actions {
  display: flex;
  align-items: center;
}

.feed-actions button {
  background-color: #1877f2; /* Facebook blue */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.feed-actions button:hover {
  background-color: #166fe5; /* Darker shade of Facebook blue on hover */
}
